body { background-color: beige;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#header { background-color: burlywood;
          text-align: center;
          height: 120px;
          
}
h1 { color: blue;
}
blockquote { border-style: dotted;
             border-width: 2px;
             background-color: gold;
             margin: 0px 30px 30px 30px;
             padding: 0 20px;

}

.ulist{text-align: center;

}
.ulist li{ display: inline-block;
    
}
.gambar{text-align: center;

}
.gambar img{display: inline-block;
            width: 10%;

}
.isi a{color: blue;
       font-weight: bold;
       font-size: xx-large; 
}
.koleksi{text-align: center;
         background-color: burlywood;
         
         height: 325px;

}
.koleksi img{display: inline-block;
             width: 20%;            
}


.promo {
    color: red;
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 80%;

}

.promo h3{
    background-color: aqua;
    border: 5px dotted red;
    text-align: center;
    font-weight: bold;
    color: blue;
    margin: 0 auto;
    height: 85px;
}


.promo ul{ display: inline-block;
            list-style-type: none;
    
}