* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: cornflowerblue;
    padding: 1rem 0;
}

main {
    display: flex;
    flex-grow: 1;
}

main article {
    background-color: aquamarine;
    flex-grow: 2;
}

main aside {
    background-color: bisque;
    flex-grow: 1;
}

main nav {
    background-color:chocolate;
    flex-grow: 1;
}
